# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Project Specific
scratch/
test_pdf_scan.py
*_econversion.*
scraper_cache.json
data_publication_dois.csv
*.enl
config.json
e-conversion-Converted.enl

# IDEs
.vscode/
.idea/
