# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Project Specific
ignored/
*_econversion.*
data_publication_dois.csv
*.enl
config.json
e-conversion-Converted.enl
scraper_cache_econversion.json

# IDEs
.vscode/
.idea/
